/* Simple styling for demonstration */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

form {
  margin: auto;
}
input[type="email"] {
  border-radius: 4px;
  border: 1px solid #cbd5e0;
  background: #fff;
  display: flex;
  width: 400px;
  padding: 16px 24px;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}
input[type="password"] {
  border-radius: 4px;
  border: 1px solid #cbd5e0;
  background: #fff;
  display: flex;
  width: 400px;
  padding: 16px 24px;
  align-items: center;
  gap: 8px;
  margin-bottom: 64px;
}

.header {
  display: flex;
  background: #387181;
  padding: 40px;
  justify-content: center;
  align-items: center;
  gap: 32px;
  color: #fcfeff;
  text-align: center;
  font-family: Garamond;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 86.682%;
  width: 100%;
}

.img {
  width: 56px;
  height: 71.849px;
}
.login-btn {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 8px;
  background: #3d97af;
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 26.4px */
  letter-spacing: 0.48px;
}
.login-btn:hover {
  opacity: 0.8;
}
#error {
  color: red;
  margin-top: 10px;
}
