@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

div.container {
    margin: auto;
    width: 70%;
    align-self: center;
}

div.input_container {
    align-self: center;
    margin-top: 8px;
    margin-bottom: 16px;
}

input.attribs {
    width: 100%;
    border: none;
    border-bottom: 1px solid #3D97AF;
    height: 40px;
    margin-top: 4px;
    font-family: "Source Sans Pro";
    font-size: 20px;
    color: #393939;
}

input.attribs:focus {
    outline: none;
    border-bottom: 3px solid #3D97AF;
}

input.attribs::placeholder {
    font-family: "Source Sans Pro";
    font-style: italic;
}

span.button_div {
    margin: auto;
    display: table;
    width: 100%;
    text-align: center;
}

button.clear {
    align-self: left;
    background-color: white;
    color: #D64747;
    border: none;
}

button.clear:hover {
    background-color: #F8F8F8;
}

button.confirm {
    align-self: right;
    margin-left: 20%;
    background-color: #49A2BB;
    color: #FFFFFF;
}

button.confirm:hover {
    background-color: #3698B4;   
}

button.form {
    width: 160px;
    height: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
}

label.form {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #7DAAB7;
}