body {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: row;
  z-index: 3;
}

.map-container {
  flex: 0 0 20%;
  display: flex;
}

#map {
  position: fixed;
  width: 100%;
  height: 100%;
}

.top-bar{
  background-color: #387181;
  height: 80px;
  width: 100%;
  display: flex;
  position: absolute;
  z-index: 2;
  justify-content: flex-end;
}

.sidenav {
  flex: 0 0 20%;
  display: flex;
  position: absolute;
  width: 480px;
  height: 729px;
  background-color: #F6F6F6;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  z-index: 4;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
}

.search-bar {
  height: 40px;
  padding: 8px 32px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 12px;
  border: transparent;
  background-color: #e4e4e4;
  font-family: 'Hind';
  font-size: 22px;
}

.logo-container {
  display: flex;
  padding: 8px 40px;
  align-items: center;
  gap: 32px;
  background: #387181;
}

.logo {
  width: 48px;
}

li {
  list-style-type: none;
}

.heading {
  color: #387181;
  font-family: Garamond;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 86.682%;
  display: flex;
  align-self: stretch;
  height: 44px;
  flex-direction: column;
}

.label {
  padding-left: 10px;
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  color: #979797; /* Gray */
  margin: 8px;
  vertical-align: middle;
}

.label:hover {
  color: #49a2bb; /* Viking */
}

.label:active {
  color: #387181; /* Calypso */
}

/*.logout {
  display: flex;
  padding: 10px 10px;
  z-index: 5;
  position: absolute;
  top: 30px;
  right: 30px;
  align-items: center;
  gap: 8px;
  background-color: white;
  border-radius: 8px;
}*/

.button-logout {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF;
  height: 56px;
  width: 164px;
  background-color: #3D97AF ;
  border: none;
  border-radius: 8px;
  display: block;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-right: 50px;
  filter: drop-shadow(0 0 0.75rem #2F2F2F);
  justify-content: space-between;
}

button.container {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 10px;
  border: 0;
  background-color: #F6F6F6;
}

button.label-font {
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #568d9e;
}

button:hover {
  background-color: #003838;
  cursor: pointer;
}

div.buttons {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  align-self: stretch;
  border-bottom: 0px solid #cbd5e0;
}

.icon {
  width: 32px;
  height: 32px;
}

a.accordion {
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.16px;
}

img.accordion {
  fill: #91c9db;
}

.entries {
  background-color: #F6F6F6;
  width: 100%;
  overflow-y: auto;
}

ul.accordion {
  padding-inline-start: 0px !important;
}

.container-entry {
  width: 100%;
}

li.accordion {
  display: flex;
  padding: 24px 32px;
  border-bottom: 0.5px solid #bdbdbd;
}

a.accordion {
  text-decoration: none;
}

.name {                           /* Name of each entry in list [Partner Name] */
  text-decoration: none;
  color: #387181;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0.36px;
}

.address {                        /* Address of each entry in list [Partner Address] */
  color: #a0a0a0;
  text-overflow: ellipsis;
  font-family: Hind;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
  letter-spacing: 0.28px;
}

.activity {
  color: #2f2f2f;
  text-overflow: ellipsis;
  font-family: Hind;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.28px;
}
h1.entries {
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/* CSS for forms modal*/
.form-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 5%;
  width: 100%; /* Adjust the width of the modal as needed */
  height: 100%; /* Adjust the height of the modal as needed */
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.form-modal-header {
  margin-left: 25%;
  margin-top: 5%;
  padding: 10px 24px;
  width: 100%;
  max-width: 600px;
  background-color: #fcfcfc;
}

.form-modal-content {
  margin-top: -10px;
  margin-left: 25%;
  padding: 24px 32px;
  width: 100%;
  max-width: 584px;
  border-radius: 8px;
  background-color: #fcfcfc;
  font-family: Hind;
  font-size: 16px;
  font-style: normal;
  height: calc(80% - 140px);
  overflow-y: auto;
}

/* CSS for the entry modal */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 10%;
  left: 25%;
  width: 100%; /* Adjust the width of the modal as needed */
  max-width: 480px;
  height: 100%; /* Adjust the height of the modal as needed */
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.modal-header {
  margin-left: 25%;
  margin-top: 5%;
  padding: 10px 24px;
  width: 100%;
  background-color: #fcfcfc;
}


.modal-content {
  margin-top: -10px;
  margin-left: 25%;
  padding: 24px 32px;
  width: 96.3%;
  background-color: #fcfcfc;
  font-family: Hind;
  font-size: 16px;
  font-style: normal;
  height: calc(80% - 140px);
  overflow-y: auto;
}

.modal-name {
  color: #3d97af;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0.48px;
  margin-bottom: 24px;
}

.modal-address {
  color: #a0a0a0;
  font-family: Hind;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.32px;
  margin-bottom: -16px;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.partner-geolocation {
  display: flex;
  align-items: center;
}

.leaflet-popup-container h2 {
  overflow: hidden;
  color: #387181;
  text-overflow: ellipsis;
  font-family: Hind;
  font-size: 18px;
  font-style: normal;
  display: flex;
  align-items: center;
  flex-shrink: 5;
  font-weight: 700;
}

.leaflet-buttons {
  display: flex;
  justify-content: space-between;
}

.deleteButton {
  color: #d64747;
}

.editButton,
.addButton {
  color: #3d97af;
}

.deleteButton,
.editButton,
.addButton {
  display: flex;
  padding: 16px 24px;
  width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: transparent;
}

.deleteButton:hover,
.editButton:hover,
.addButton:hover {
  background-color: transparent;
  cursor: pointer;
}

.partner-value {
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Hind;
  font-size: 12px;
  font-style: normal;
  line-height: 110%;
  letter-spacing: 0.32px;
  margin: 0 !important;
}

.partner-label {
  color: #3d97af;
  font-family: Hind;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: 0.36px;
  font-size: 14px;
  margin: 12px 0 8px 0 !important;
}

.partner-activity {
  color: #2f2f2f;
  font-family: Hind;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: 0.4px;
}
